<h1>Free Enterprise</h1>
<h2>Making the Most of the Generosity of Others</h2>
<img src="../images/hands.jpeg" id="hands">
<h3>Open Projects:</h3>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li>#<%= project.id %> - <%= project.title %><a href="/projects/<%= project.id %>"> (add volunteers)</a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no projects to display.</p>
<% end %>

<p>Do you want to <a href="/projects/new">add a new project?</a></p>

<h3>Volunteers Assigned:</h3>

<% if @volunteers.any? %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><a href="/projects/<%= volunteer.project_id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %> - Project #<%= volunteer.project_id %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no assignments to display.</p>
<% end %>

